*{
    padding: 0;
    margin: 0.3vw;
}
body{
    background-color: grey;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Playball', cursive; */

}
#body{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 40vw 60vw;
}
#first{
    padding-top: 15px;
    padding-left: 1.1vw;
    background-color: #1da1f2;
    color: white;
    width: 100%;

}
/* #inner{
    background-color: black;
    margin-left: 10vw;
} */
#second{
    background-color: white;
    
    /* width: 100%; */

}
#image{
    margin-top: -15px;
    margin-left: -1.1vw;
    /* padding-left: -6vw; */
    height: 45vh; 
    object-fit: cover;       
    width: 40vw;
}
#name{
    /* text-align: center; */
    font-size: 2vw;
    padding-left: 2vw;
}
.material-symbols-outlined {
    padding-right: 1vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#direction_icon{
    font-size: 3vw;
}
#info{
    display: flex;
    padding-left: 1vw;
    flex-direction: column;
    font-size: 1.4vw;

}
#location_icon, #email_icon, #website_icon, #mobile_icon{
    font-size: 3vw;
}
#hr{
    width: 30vw;
    border-radius: 10px;
    margin-left: 1.5vw;

}
#skill{
    font-size: 2vw;
    margin-left: 1vw;
}
#skills{
}
.container{
    background-color: #6db3de;
    border-radius: 1px;
    width: 50%;
    margin-left: 8.5vw;
    height: 1.2vh;
}

.fill{
    text-align: right;
    background-color: #fff;
    border-radius: 10px;
    /* padding: 1%; */
    height: 1.2vh;
    /* font-size: 0.5vw; */
    color: #1da1f2;
    margin-left: -0.3vw;
    /* padding-left: 2vw; */
}
.html{
    width: 80%;
}
.css{
    width: 70%;
}
.sas{
    width: 40%;
}
.js{
    width: 75%;
}
.jquery{
    width: 80%;
}
#html_label{
    position: relative;
    /* top: 3.5vh; */
    top: 2.7vh;
    /* font-size: 1.6vw; */
}
#css_label{
    position: relative;
    top: 3.5vh;
}
#sas_label{
    position: relative;
    top: 3.5vh
}
#js_label{
    position: relative;
    top: 3.5vh;
}
#jquery_label{
    position: relative;
    top: 3.5vh;
}
#html_label_bottom{
    position: relative;
  left: 31vw;
  top: -3vh;
}
#_label_bottom{
  
}
#_label_bottom{
  
}
#_label_bottom{
  
}
#_label_bottom{
  
}